:root {
    --custom-accent-color: #6db33f;
}

/*
==============================================
字体
==============================================
*/

/* 签名 */
/* .φcy {
    font-family: 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
} */
/* 归档、标签 */
/* .φdm {
    font-family: 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
} */
/* 首页文章列表块-标题 */
/* .φcl {
    font-family: 'Josefin Sans', 'PingFang SC', 'Microsoft YaHei';
} */
/* 首页文章列表块-日期 */
/* .φci {
    font-family: 'Josefin Sans', 'PingFang SC';
} */



/*
==============================================
归档、分类、标签 块
==============================================
*/
.φdm span:first-child {
    margin-bottom: .35rem !important;
}
.φdm {
    padding: 0.5rem 0 !important;
}


/*
==============================================
文章页
==============================================
*/

/* 文章字体大小 */
.φew{
    font-size: 15px;
}

/* 超链接 */
.φew .φe a {
    border-bottom: 0px !important;
    color: var(--custom-accent-color);
}

/* 超链接 */
.φew .φe a:hover{
    border-bottom: 1px !important;
    color: #437c1c;
}

/* 行内代码与代码块字体大小 */
code, pre {
    font-size: 95% !important;
}




/*
==============================================
菜单超链接
==============================================
*/

.φdj:hover{
    color: var(--custom-accent-color) !important;
    transition: all .15s;
    font-weight: 600;
}
.φdj:active, .φdj:hover, .φdk {
    font-size: 1rem !important;
}

.φdj:after {
    width: 0px !important;
    height: 0px !important;
}

/*
==============================================
分页条
==============================================
*/

.φbz:active, .φbz:hover, .φca {
    background-color: var(--custom-accent-color) !important;
}

.φbz {
    /* margin: 0 10px !important; */
    width: 1.8rem !important;
    border-radius: 0% !important;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

/*
==============================================
右下角功能按钮
==============================================
*/